<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Wishlist</title>
</head>
<body>
  <h1>Game Wishlist</h1>

  <h2>Filter by Status:</h2>
<ul>
    <li><a href="{% url 'game_list' %}">All</a></li>
    <li><a href="?status=wishlist">Wishlist</a></li>
    <li><a href="?status=playing">Playing</a></li>
    <li><a href="?status=completed">Completed</a></li>
    <li><a href="?status=abandoned">Abandoned</a></li>
</ul>

  <a href="{% url 'add_game' %}"><button>Add Game</button></a>

  {% if games %}
        <ul>
            {% for game in games %}
                <li>
                    <p>
                        <strong>{{ game.title }}</strong> — {{ game.platform }} — {{ game.status }}

                        <form action="{% url 'update_status' game.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                            <select name="status" onchange="this.form.submit()">
                                {% for value, label in form.fields.status.choices %}
                                    <option value="{{ value }}" {% if value == game.status %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </form>

                        <a href="{% url 'delete_game' game.id %}"><button>❌ Delete</button></a>
                    </p>
                    {% if game.description %}<br>{{ game.description }}{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No games added yet.</p>
    {% endif %}

</body>
</html>